[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "os/mac/iterm/themes/catppuccin"]
	path = os/mac/iterm/themes/catppuccin
	url = https://github.com/catppuccin/iterm.git
